<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "ARVELA Innovación",
  "url": "https://arvelainnova.es/",
  "logo": "https://arvelainnova.es/logo.jpg",
  "sameAs": [
    "https://www.linkedin.com/company/arvela-innovacion/",
    "https://x.com/arvela_innova",
    "https://www.facebook.com/arvela.innova",
    "https://www.instagram.com/arvela.innova/",
    "https://www.tiktok.com/@arvela.innova",
    "https://www.youtube.com/@arvela.innova"
  ]
}
</script>
